<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAppKeshe"
        tools:targetApi="31">
        <activity
            android:name=".Control.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Control.ClassManagementActivity" />
        <activity android:name=".Control.SearchActivity" />
        <activity android:name=".Control.CourseManagementActivity" />
        <activity android:name=".Control.GradeManagementActivity" />
        <activity android:name=".Control.GradeQueryActivity" />
        <activity android:name=".Control.HomeActivity" />
        <activity android:name=".Control.RegisterActivity" />
        <activity android:name=".Control.StubyidActivity" />
        <activity android:name=".Control.StudentActivity" />
        <activity android:name=".Control.UserManagementActivity" />
    </application>

</manifest>